h1, h2, h3, h4, h5, h6, p, ul, ol, a {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h2, h3 {
  font-weight: lighter;
}

ul {
  margin-bottom: 20px;
}

.jumbotron {
  margin-top: 70px;
}

.glyphicon {
    font-size: 50px;
    color: #888888;
    text-align: center;
    display: block;
    margin-top: 10px;
}

.floatright {
  float: right;
  margin-left: 20px;
  margin-bottom: 20px;
}

.floatleft {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}

.imgLogoSq {
  max-width: 66px;
  max-height: 66px;
}

#imgMFitchen {
  max-width: 50%;
  height: auto;
}

#unHide {
  margin-top: 70px;
}

div {
  border: 1px solid red;
}
